.navbar {
    background-color: #1f1f1f; 
    color: white;
    padding: 10px;
    border-radius: 0;
 }

 .navbar h1 {
    margin-top: 10px;
    margin-bottom: 10px;
 }

.balance-container, 
.work-container,
.select-laptop-container
{
    background-color: lightgrey;
    padding: 20px;
    border-radius: 10px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.balance-container h3, 
.work-container h3,
.select-laptop-container h3
{
    font-weight: 600;
    margin-top: 0px;
}

.laptop-info {
    display: flex;
    align-items: center;
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;

  }

.balance-row {
    display: flex;
    justify-content: space-between;
}

.value {
    flex: 2;
    text-align: right;
}

#outstanding-loan-label {
    text-align: left;
}

#outstanding-loan {
    margin: 0;
}


.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
.button-container .btn {
    flex: 1;
    margin: 0 5px;
}

.select-laptop-container h4 {
    margin-bottom: 1px;
}

#specs-container p {
    margin-bottom: 5px;
}

.row.my-3 {
    display: flex;
    align-items: stretch;
    margin-bottom: 30px;
}

.col-md-4 {
    flex: 1;
}

img {
    width: 200px;
    height: 200px;
}

#specs-container {
    overflow-y: scroll;
    height: 70px;
}

#specs-container p {
    margin: 2px;
}
  
.laptop-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;/
}

.laptop-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.laptop-title {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-start;
    margin-bottom: 10px;
}

.laptop-description {
    font-size: 16px;
}

.laptop-price{
    font-size: 18px;
    font-weight: 700;
}

.laptop-price-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
}
