.navbar {
    background-color: #1f1f1f; 
    color: white;
    padding: 10px;
    border-radius: 0;
 }

 .navbar h1 {
    margin-top: 10px;
    margin-bottom: 10px;
 }

.balance-container, 
.work-container,
.select-laptop-container
{
    background-color: lightgrey;
    padding: 20px;
    border-radius: 10px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.balance-container h3, 
.work-container h3,
.select-laptop-container h3
{
    font-weight: 600;
    margin-top: 0px;
}

.laptop-info {
    display: flex;
    align-items: center;
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;

  }

.balance-row {
    display: flex;
    justify-content: space-between;
}

.label {
    flex: 1;
    text-align: left;
    margin-right: 10px;
    font-weight: bold;
    color: black; /* Set the label color to black */
}

.value {
    flex: 2;
    text-align: right;
}

/* Position the outstanding-loan-label to the left */
#outstanding-loan-label {
    text-align: left;
}

#outstanding-loan {
    margin: 0; /* Reset margin for the outstanding-loan span */
}


.button-container {
    display: flex;
    flex-direction: row; /* Arrange buttons horizontally */
    justify-content: space-between; /* Add space between buttons */
}
  
.button-container .btn {
    flex: 1; /* Distribute space equally among buttons */
    margin: 0 5px; /* Add spacing between buttons */
}

.select-laptop-container h4 {
    margin-bottom: 1px;
}

#specs-container p {
    margin-bottom: 5px;
}

.row.my-3 {
    display: flex;
    align-items: stretch;
    margin-bottom: 15px;
}

.col-md-4 {
    flex: 1;
}

img {
    width: 200px;
    height: 200px;
}

#specs-container {
    overflow-y: scroll;
    height: 70px;
}

#specs-container p {
    margin: 2px;
}
  
  .laptop-image {
    width: 200px; /* Adjust image width as needed */
    height: 200px; /* Adjust image height as needed */
    margin-right: 20px; /* Add spacing between image and details */
    /* You can also add a background image here if needed */
  }
  
  .laptop-details {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .laptop-title {
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold;
  }
  
  .laptop-description {
    margin-top: 10px; /* Add spacing between title and description */
    font-size: 16px; /* Adjust font size as needed */
  }
  
  .laptop-price-button {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .laptop-price {
    font-size: 18px; /* Adjust font size as needed */
  }
  
  /* Style the "BUY NOW" button */
  .btn-primary {
    margin-top: 10px; /* Add spacing between price and button */
  }
  